---
layout: default
---
<div class="post-top-image">
	<img src="{{ page.image }}" class="img-responsive">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 post-body">
			<h2 class="u-orange">{{ page.title }}<br><small>by {{ page.by }}</small></h2>
			{{ content }}
			<p>Learn how you can tell stories with beautiful maps at <a href="http://orbitist.com">Orbitist.com</a></p>
			<a href="http://orbitist.com/work" class="btn btn-sm btn-default"><span class="fa fa-angle-left"></span> All of our work</a>
		</div><!-- col-md-8 col-md-offset-2 -->
	</div><!-- row -->
</div><!-- container -->